#!/bin/bash
set -e  # Exit immediately if any command fails

HMM_FILE="$WORKSPACE/ko.hmm"

WORKSPACE="/data"

mkdir -p "$WORKSPACE"
chmod 777 "$WORKSPACE"

if [ ! -f "$HMM_FILE" ]; then
  echo "HMM file missing. Downloading from GCS..."
  gsutil -m -o "GSUtil:check_hashes=never" cp ${GC_HMM_PATH}/ko.hmm "$WORKSPACE/"
  gsutil -m -o "GSUtil:check_hashes=never" cp ${GC_HMM_PATH}/ko.hmm.ssi "$WORKSPACE/"
else
  echo "HMM file already exists. Skipping download."
fi
